<?xml version="1.0" ?>
<launch>
    <arg name="robot_x"   default="0.0" />
    <arg name="robot_y"   default="0.0" />
    <arg name="robot_yaw" default="0.0" />

    <arg name="tf_prefix" default="" />

    <arg name="prefix" value="$(arg tf_prefix)/" if="$(eval tf_prefix != '')" /> <!-- $(arg prefix) is used in all the config files! TODO: For multiple robots, create groups when loading the parameters to overwrite the arg? -->
    <arg name="prefix" value=""                  unless="$(eval tf_prefix != '')" />

    <arg name="model_name" default="amr"/>
    <!-- Load URDF -->
    <include file="$(find amr_description)/launch/amr_description.launch">
        <arg name="tf_prefix" value="$(arg tf_prefix)" />
    </include>

    <!-- Spawn the robot into Gazebo -->
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model $(arg model_name)
        -x $(arg robot_x) -y $(arg robot_y) -Y $(arg robot_yaw) " />

    <!-- Load ros_control controller configurations -->
    <rosparam file="$(find amr_description)/config/joint_state_controller.yaml" command="load" />
    <rosparam file="$(find amr_description)/config/diffdrive_controller.yaml" command="load" subst_value="true" />

    <!-- Start the controllers -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" output="screen"
        args="joint_state_controller mobile_base_controller"/>

    <!-- EKF -->
    <include file="$(find amr_gazebo)/launch/includes/ekf.launch.xml">
        <arg name="tf_prefix" value="$(arg prefix)" />
    </include>

    <!-- Add passive + mimic joints to joint_states topic -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <rosparam param="source_list">[amr/joint_states]</rosparam>
        <param name="rate" value="100.0" />
    </node>

    <!-- Robot state publisher -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen" />
</launch>
