
<launch>

    <!--  ************** Global Parameters ***************  -->
    <param name="/use_sim_time" value="true"/>
    <arg name="world_file" default="$(find collision_avoidance)/world/circle_20.world" />
    <node name="stageros" type="stageros" pkg="stage_ros_add_pose_and_crash" args=" $(arg world_file)"/>
	<node pkg="collision_avoidance" type="circle_test_20.py" name="robot_0" output="screen"/>
	<node pkg="collision_avoidance" type="circle_test_20.py" name="robot_1" output="screen"/>
	<node pkg="collision_avoidance" type="circle_test_20.py" name="robot_2" output="screen"/>
	<node pkg="collision_avoidance" type="circle_test_20.py" name="robot_3" output="screen"/>
	<node pkg="collision_avoidance" type="circle_test_20.py" name="robot_4" output="screen"/>
	<node pkg="collision_avoidance" type="circle_test_20.py" name="robot_5" output="screen"/>
	<node pkg="collision_avoidance" type="circle_test_20.py" name="robot_6" output="screen"/>
	<node pkg="collision_avoidance" type="circle_test_20.py" name="robot_7" output="screen"/>
	<node pkg="collision_avoidance" type="circle_test_20.py" name="robot_8" output="screen"/>
	<node pkg="collision_avoidance" type="circle_test_20.py" name="robot_9" output="screen"/>
	<node pkg="collision_avoidance" type="circle_test_20.py" name="robot_10" output="screen"/>
	<node pkg="collision_avoidance" type="circle_test_20.py" name="robot_11" output="screen"/>
	<node pkg="collision_avoidance" type="circle_test_20.py" name="robot_12" output="screen"/>
	<node pkg="collision_avoidance" type="circle_test_20.py" name="robot_13" output="screen"/>
	<node pkg="collision_avoidance" type="circle_test_20.py" name="robot_14" output="screen"/>
	<node pkg="collision_avoidance" type="circle_test_20.py" name="robot_15" output="screen"/>
	<node pkg="collision_avoidance" type="circle_test_20.py" name="robot_16" output="screen"/>
	<node pkg="collision_avoidance" type="circle_test_20.py" name="robot_17" output="screen"/>
	<node pkg="collision_avoidance" type="circle_test_20.py" name="robot_18" output="screen"/>
	<node pkg="collision_avoidance" type="circle_test_20.py" name="robot_19" output="screen"/>
</launch>